<% @listings.each do |listing| %>
  <h3><%= link_to "#{listing.tickets.count} x #{listing.description.sub(/^./, &:upcase)}", listing_path(listing) %></h3>
  <p>€<%= listing.selling_price %> / ticket</p>
  <p><%= "Seller: #{listing.user.email.chomp("@ticketswap.com").sub(/^./, &:upcase)}" %></p>
<% end %>

<%= link_to "Create listing", new_listing_path , :class => "btn" %>
