<% @listings.each do |listing| %>
<% listing.tickets.count %>
  <h3><%= link_to "#{listing.tickets.select(:user_id).count(&:nil?)} x #{listing.description.sub(/^./, &:upcase)}", listing_path(listing) %></h3>
  <% raise %>
  <p>€<%= listing.selling_price %> / ticket</p>
  <p><%= "Seller: #{listing.user.email.chomp("@ticketswap.com").sub(/^./, &:upcase)}" %></p> <!-- only showing name user instead of whole email -->
<% end %>
