<h2>Available</h2>
<% if
  <% @listings.each do |listing| %>
    <h3><%= link_to "#{listing.tickets.count - listing.tickets.count(:user_id)} x #{listing.description.sub(/^./, &:upcase)}", listing_path(listing) %></h3>
    <p>€<%= listing.selling_price %> / ticket</p>
    <p><%= "Seller: #{listing.user.email.chomp("@ticketswap.com").sub(/^./, &:upcase)}" %></p> <!-- only showing name user instead of whole email -->
  <% end %>

<h2>Sold</h2>
